.row > * {
	text-align: -webkit-center;
}
.card {
	width: 400px;
	min-height: 250px !important;
}
.btn-primary {
	color: #fff;
	background-color: #238652 !important;
	border-color: #266d47 !important;
}
.btn-primary:focus {
	color: #fff;
	box-shadow: 0 0 0 0.25rem rgb(38 109 71 / 50%) !important;
}
@media (max-width: 700px) {
	.card {
		width: 450px;
	}
}
